.footer {
    &__container {
        display: flex;
        width: 1440px;
        padding: 80px;
        justify-content: center;
        align-items: center;
        background: #466BE6;
    }

    &__content {
        display: flex;
        width: 1280px;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
    }

    &__logo {
        display: flex;
        height: 106px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;

        &-icon {
            width: 222px;
            height: 105.416px;
            flex-shrink: 0;
        }
    }

    &__information-block {
        display: flex;
        align-items: flex-start;
        gap: 60px;

        &-column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;

            &-header-text {
                color: var(--Ilona-text_dark, #0C0D0D);
                font-family: Montserrat;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 130%;
                /* 31.2px */
            }

            &-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                &-text {
                    color: var(--Ilona-text_dark, #0C0D0D);

                    /* main/h_16_medium */
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }

    }



}