.modal {
    &__container {
        display: inline-flex;
        padding: 40px;
        align-items: center;
        gap: 10px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;

            &-text {
                color: var(--Ilona-bg, #111);
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 130%;
                /* 31.2px */
            }

            &-icon {
                width: 24px;
                height: 24px;
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            gap: 24px;
            align-self: stretch;

            &-input {
                display: flex;
                width: 410px;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                &-frame {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    align-self: stretch;

                    &-title {
                        color: var(--Ilona-text_grey, #808080);
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                        /* 24px */
                    }

                    &-line {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 4px;
                        align-self: stretch;

                        &-area {
                            display: flex;
                            padding: 12px 0px 12px 20px;
                            align-items: center;
                            gap: 10px;
                            align-self: stretch;
                            border-radius: 8px;
                            border: 1px solid #37298C;

                            &-text {
                                color: var(--Ilona-text_grey, #808080);
                                font-family: Lato;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 150%;
                                /* 24px */
                            }
                        }
                    }

                    &-checkbox {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        &-icon {
                            width: 24px;
                            height: 24px;
                        }

                        &-text {
                            color: #808080;
                            font-family: Inter;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 150%;
                            /* 24px */
                        }
                    }

                }
            }

            &-confirm {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                align-self: stretch;

                &-button {
                    display: flex;
                    height: 51px;
                    padding: 12px 46px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    align-self: stretch;

                    &-text {
                        color: var(--Artem-text_light, #FAF5FF);
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                        /* 24px */
                    }
                }

                &-or-text {
                    color: var(#808080);
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 24px */
                }

                &-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    &-text {
                        color: #37298C;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                        /* 24px */
                    }
                }

            }
        }
    }
}