.filter {
    &__container {
        display: flex;
        width: 308px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        border-radius: 8px;
background: #FAF5FF;
    }

    &__characteristic {
        display: flex;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;

        &-text {
            align-self: stretch;
            color: #0C0D0D;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            /* 20.8px */
        }

        &-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;

            &-value {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                align-self: stretch;

                &-row {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    align-self: stretch;

                    &-icon {
                        width: 24px;
                        height: 24px;
                    }

                    &-text-main {
                        color: #0C0D0D;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        /* 24px */
                    }

                    &-text-other {
                        color:  #808080;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        /* 24px */
                    }

                }


            }
        }
    }
}