@import '../../normalize.css';

.header {

    &__container {
        display: flex;
        max-width: 192vh;
        width: 100%;
        padding: 24px 100.5px;
        align-items: center;
        gap: 162px;
        background: #466BE6;
    }

    &__logo {
        display: flex;
        width: 133px;
        height: 63px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        flex-shrink: 0;

        &-first-icon {
            width: 133.159px;
            height: 17.155px;
            flex-shrink: 0;
        }

        &-second-icon {
            width: 76.659px;
            height: 36.075px;
            flex-shrink: 0;
        }
    }

    &__icons-group {
        display: flex;
        width: 985px;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        position: relative;

        &-search-area {

            display: flex;
            width: 690px;
            height: 40px;
            padding: 5px 0px 5px 16px;
            align-items: center;

            gap: 8px;
            flex-shrink: 0;
            border-radius: 0.8vh;
            background-color: rgb(255, 255, 255);


            &-search-line {
                border: none;
                width: 690px;
                height: 40px;
                outline: none;
                padding-left: 8px;
                font-size: 16px;
                line-height: 18px;

                &:focus {
                    border: none;
                    box-shadow: none;
                }
            }

            &-icon {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 24px;
                height: 24px;
                position: absolute;

            }

            &-text {
                color: var(--Ilona-text_dark, #0C0D0D);
                text-align: center;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        &__linear {
            display: flex;
            align-items: center;
            gap: 32px;

            &-icon {
                width: 32px;
                height: 32px;
            }
        }


    }

}


.search {
    &__container {
        top: 65px;
        
        display: flex;
        width: 700px;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        z-index: 10;
        gap: 32px;
        margin-top: 15px;
        border-radius: 8px;
        background: #466BE6;
    }

    &__group {
        display: flex;

        justify-content: space-around;
        align-items: center;
        align-self: stretch;
    }

    &__card {
        display: flex;
        width: 250px;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        &-top {
            display: flex;
            height: 250px;
            justify-content: center;
            align-items: center;
            align-self: stretch;
        }

        &-icon {
            display: flex;
            width: 250px;
            height: 250px;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 10px;
        }
    }

    &__text {
        color: var(--Nika-light, #FEFFFE);
        /* main/h_semibold_20 */
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        /* 26px */
    }
}