
.product-info {
    &__container {
      max-width: 1280px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto 80px auto;
    }
  
    &__description {
      max-width: 580px;
      width: 100%;
      white-space: pre-line; // Сохраняет переносы строк
      word-wrap: break-word; // Перенос слов, если строка слишком длинная
      overflow-wrap: break-word; // Перенос длинных слов
      max-width: 70%; // Ограничение ширины текста
      display: block; // Текст занимает всю строку
  
      &-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 32px;
      }
  
      &-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
      }
    }
  
    &__characteristics {
      max-width: 600px;
      width: 100%;
  
      &-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 32px;
      }
  
      &-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
  
        &-name {
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          width: 250px;
        }
  
        &-value {
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          width: 332px;
        }
      }
    }
  }
  