.category {
    &__container {
        display: flex;
        width: 1280px;
        justify-content: space-between;
        align-items: center;
    }

    &__banner-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        &-frame {
            display: flex;
            align-items: center;
            border-radius: 8px;
            background: var(--Artem-text_light, #FAF5FF);

            &-size {
                width: 1093px;
                height: 574px;
            }
        }
    }

    &__category-content {

        display: flex;
        padding: 16px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        &-frame {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;

            &-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;

                &-title {
                    color: var(--Ilona-text_dark, #0C0D0D);
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 110%;
                    /* 17.6px */
                }

                &-icon {
                    display: flex;
                    padding: 2px;
                    align-items: flex-start;
                    gap: 10px;

                    &-size {
                        width: 17px;
                        height: 9px;
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
}