.productCard {

    &__item {
        max-width: 308px;
        width: 100%;
        padding: 10px;

        &-image {
            position: relative;
            width: 100%;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        &-icon {
            position: absolute;
            right: 16px;
            top: 16px;
            cursor: pointer;
        }

        &-bottom {
            
            padding: 24px 16px;

        }

        &-name {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 16px;
            height: 30px;
        }

        &-stars {
            display: flex;
            padding: 0;
            margin: 0 0 24px 0;


            &-item {
                list-style: none;
                padding: 0;
                margin-right: 4px;
                cursor: pointer;
            }
        }

        &-actions {
            display: flex;
            justify-content: space-between;

            &-prices {
                max-width: 140px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 20px;
                line-height: 26px;
            }

            &-value {
                color: #000;
            }

            &-old {
                color: rgba(197, 197, 197, 1);
                position: relative;

                &:before {
                    content: '';
                    border-bottom: 2px solid rgba(197, 197, 197, 1);
                    position: absolute;
                    width: 100%;
                    height: 50%;
                    transform: rotate(-12deg);
                    top: -2px;
                }
            }
        }
    }
}