
.productGroup {
    margin-bottom: 80px;
  
    &__header {
      &-container {
        max-width: 1280px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto 32px auto;
      }
  
      &-title {
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
      }
  
      &-link {
        display: flex;
        align-items: center;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
  
        &-text {
          color: #000;
          margin-right: 8px;
          transition: 0.3s text-decoration;
        }
      }
    }
  
    &__items {
      &-container {
        max-width: 1280px;
        width: 100%;
        display: flex;
        justify-content: left;
  
        margin: 0 auto;
      }
    }
  }
  