
.list {
    margin-bottom: 80px;
  
    &__header {
      &-container {
        max-width: 1280px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto 32px auto;
        margin-top: 100px;
      }
  
      &-title {
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
      }
  
      &-sort {
        display: flex;
        align-items: center;
        text-decoration: none;
      }
    }
  
    &__items {
      &-container {
        max-width: 1280px;
        width: 100%;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        margin: 0 auto;
  
  
      }
  
      &-card {
        width: calc(25%);
      }
    }
  
  }