.product-top {
    margin-bottom: 80px;

  &__container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    margin-top: 60px;

    &-left {
      display: flex;
    }
  }

  &__back {
    width: 40px;
    height: 40px;
    background-color: #EDE9F5;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s background-color;
    margin: 0 40px;

    &:hover {
      background-color: #EDE9F5;
    }
  }

  &__slider-container {
    max-width: 516px;
    width: 100%;
  }

  &__slider {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &-image {
      margin: 0 32px;
    }

    &-arrow {
      transition: 0.1s opacity;

      &:hover {
        opacity: 0.7;
      }
    }

    &-arrow--left {
      transform: rotate(180deg);
    }
  }

  &__previews {
    max-width: 431px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 43px;
  }

  &__info-container {
    max-width: 561px;
    width: 100%;
  }

  &__info-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 24px;
  }

  &__info-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 16px;
  }

  &__info-capacity {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    color: rgba(197, 197, 197, 1);
  }

  &__info-price {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 16px;
  }

  &__info-rating {
    display: flex;
    margin-bottom: 32px;
  }

  &__info-stars {
    display: flex;
    padding: 0;
    margin: 0 8px 0 0;

    &-item {
      list-style: none;
      padding: 0;
      margin-right: 4px;
      cursor: pointer;
    }
  }

  &__info-amount {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &-icon {
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        stroke: #c5c5c5;
      }
    }

    &-icon--disabled {
      stroke: #c5c5c5;
    }

    &-value {
      margin: 0 8px;
    }
  }

  &__info-addcart {
    background-color: #37298C;
    border: none;
    color: #fff;
    padding: 16px 0;
    max-width: 230px;
    width: 100%;
    border-radius: 8px;
    transition: 0.3s background-color;
    cursor: pointer;

    &:hover {
      background-color: #37298C, 3%;
    }
  }
}